# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.eslintcache
